/* ============================= Pages Servicios ======================= */


/*===== titulos y subtitulos - servicios =====*/
.servicios-titulo {
  
  text-align: center; 
  margin-bottom: 10px; 
}

.servicios-titulo h3 {
  
  font-size: 26px; 
  font-weight: 600; 
}

/* ===== Ajustes carousel servicios ===== */
.carousel-item {
  padding: 20px 0;
}

.carousel .tarjeta {
  max-width: 300px;
}

/* ===== tablet: tarjeta +20% ===== */

@media (min-width: 768px) and (max-width: 991px) {
  .carousel .tarjeta {
    transform: scale(1.15);
  }
}



/* ============================= Tarjetas responsive ======================= */

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // centrar en desktop
  gap: 20px; // espacio entre tarjetas

  .tarjeta {
    width: 100%;
    max-width: 300px; // para desktop
    text-align: center;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    h4 {
      margin-top: 10px;
      font-size: 1.2rem;
    }

    p {
      font-size: 0.95rem;
      line-height: 1.4;
    }
  }

  @media (min-width: 992px) {
    flex-direction: row; // desktop → fila
  }

  @media (max-width: 991px) {
    flex-direction: column; // tablet + mobile → vertical
    align-items: center;   // centrar tarjetas
    .tarjeta {
      max-width: 400px;
    }
  }
}
