/* ============================= Pages Servicios ======================= */


/*===== titulos y subtitulos - servicios =====*/
.servicios-titulo {
  
  text-align: center; 
  margin-bottom: 10px; 
}

.servicios-titulo h3 {
  
  font-size: 26px; 
  font-weight: 600; 
}

/* ===== Ajustes carousel servicios ===== */
.carousel-item {
  padding: 20px 0;
}

.carousel .tarjeta {
  max-width: 300px;
}

/* ===== tablet: tarjeta +20% ===== */

@media (min-width: 768px) and (max-width: 991px) {
  .carousel .tarjeta {
    transform: scale(1.15);
  }
}

/* ===== botones carousel ===== */

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.65);
}

/* Flechas de carousel*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(25%);
  width: 20px;
  height: 20px;
}
