// mixin con parametros
@mixin medidas ($width, $height) {
    width: $width;
    height: $height;
    
}

// mixin sin parametros
@mixin base{
    display: flex; /* layout flexible */
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

header{
    @include base;
}