/* reseteo general */

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  
}

/* ===== estilos generales ===== */

/* ===== estilos de body ===== */
//import

body {
  background-image: url(../img/fondo.jpg); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; 
  color: #9c5b7b; 
  min-height: 100vh; 
}

/* Encabezados y párrafos */
h1,h2,h3,h4 {
  margin-bottom: 15px; 
}

h1,h2 {
  line-height: 1.25; 
}

p {
  line-height: 1.7; 
}

main {
  /* contenedor <main> – efecto vidrio */
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* Blanco con transparencia - Permite ver el fondo de atrás - Intensidad justa (0.3 = suave) */
  backdrop-filter: blur(
    6px
  ); /* Difumina lo que está detrás del <main> - 6px = desenfoque equilibrado */
  -webkit-backdrop-filter: blur(
    6px
  ); /* Difumina lo que está detrás del <main> - 6px = desenfoque equilibrado */
  padding: 20px 40px; 
  margin: 0 auto; 
  border-radius: 15px; /* Bordes redondeados - Esquinas suaves */
}